@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900|Source+Sans+Pro:300,300italic,700);
body {
    margin: 60px auto;
    width: 70%;
    background-color: #ffd131;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    line-height: 3em;
}
nav ul li, footer ul li, ul li {
    display: inline;
    margin-right: 20px;
    padding-bottom: 10px;
}
.showcase{
    font-size: 1.4em;
    line-height: 3em;
}
.showcase ul li {
    margin-bottom: 40px;
}
.showcase li{
    margin-left: 15px;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    color: #ff0080;
    padding-bottom: 10px;
}
a:hover {
    border-bottom: 3px solid #ff0080;
}
.cv p a:hover{
    border-bottom: none;
}
h1 {
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    color: #333;
}
h2{
    font-size: 2.2em;
    font-family: 'Playfair Display', serif;
    color: #333;
}
h3{
    font-size: 1.7em;
    line-height: 1.4em;
    color: #333;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #333;
    font-size: .8em;
}
hr{
    border-color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.projects ul li{
    display:block;
    line-height: 3em;
}
.skillcontainer {
  width: 100%;
  background-color: #333;
}
.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
  background-color: #ff0080;
}

.html {width: 90%;}
.css {width: 70%; }
.js {width: 60%; }
.php {width: 50%; }

.mysql {width: 50%; }
.wordpress {width: 70%; }
.bootstrap {width: 80%; }
.jquery {width: 70%; }

.resweb {width: 80%; }
.sass {width: 80%; }
.git {width: 50%; }
.tachyons {width: 50%; }

.react {width: 10%; }

.job-header{
    display:flex;
    justify-content: space-between;
}
.job-title{

    font-weight:bold;
}
.date{

    color: #ff0080;
}
.place{
    color: #ff0080;
}
.blog ul li{
    display:block;
    list-style-type: square;
    font-size: 1.5em;
    line-height: 1.8em;
}
.blog ul {
    list-style-type: square;
}
.blog ul li a{
    list-style-type: square;
}
.bloglist li{
    list-style-type: square;
}
